body {
	background-color: Peru;
	margin: 0px;
}
.addem {
	font-family: Courier New, monospace;
	font-size: 32px;
	color: BlanchedAlmond;
	text-align: center;
	position: relative;
	top: -10px;
	background-color: saddlebrown;
}

.awit {
	text-decoration: none;
	animation-name: weng;
	color: BlanchedAlmond;
	animation-duration: 2s;	
	animation-iteration-count: infinite;
}

.awit:link {
	color:SandyBrown;
}

.map {
	background: url(map.png) no-repeat right; 
	height: 900px;
	background-size: cover;
	position: relative;
	filter: blur(3px) brightness(50%);	
	opacity: 0.7;
	top: -600px;
	z-index: -1;
}
nav {
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color:  transparent;
  	position: fixed;
  	top: 13px;
  	width: 100%;
  	font-family: Papyrus, fantasy;	
	z-index: 2;
	font-size: 20px;
	
}
nav a {
  	display: inline;
  	color:  BlanchedAlmond;
  	padding: 10px 20px;
  	text-decoration: none;
	text-align: center;
}

nav a:hover {
	background-color: Peru;
}
th, td, table, tr{
  	border: transparent;
  	animation: mymove 5s infinite;
	font-family: Courier New, monospace;
	font-size: 32px;
	color: BlanchedAlmond;
	top: -270px;
	position: relative;
	text-align: center;
	left: -5px;
}
th {
	font-size: 40px;
}
#s, td{
	text-decoration: none;
	animation-name: weng;
	color: BlanchedAlmond;
	animation-duration: 1.5s;	
	animation-iteration-count: infinite;
}

#s, td:link {
	color:SandyBrown;
}

@keyframes weng {
	0% {color: Red;}
	25% {color: Orange;}
	50% {color: Purple;}
	100% {color:Red;}
}

.kfc { 
  	background: url(logo.jpg) no-repeat center; 
  	background-size: contain;
  	height: 400px;
  	position: relative;
	top: 0px;
}	
.home {
  	width: 150px;
  	height: 150px;
  	position: relative;
	top: -720px;
	left: 620px;
}
audio {
	position: relative;
	top: 100px;
	}